name: DW_Publish
on: 
  push:
    branches:
    - 'main'
    paths:
    - 'data/**.csv'
    - 'data_EN/**.csv'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get working copy
        uses: actions/checkout@main
        with:
          fetch-depth: 1
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install Requirements
        run: pip install -r requirements.txt
      - name: Update DW Visualisations
        if: always()
        env: 
          DW_TOKEN: ${{ secrets.DW_TOKEN }}
        run: python DW_Publish.py